*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    /*border: 1px solid black;*/
}

body {
    background-color: #c9d6ff;
    background: linear-gradient(to right, #e2e2e2, #c9d6ff);
    display: flex;
    flex-direction: column;
}

header {
    background-color: #6b79c6;
    color: #fff;
    padding: 10px 10px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5%;
}

.logo img {
    width: 127px;
}

.avatar {
    display: flex;
    align-items: center;
}

.status-dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 6px;
    bottom: 0;
    right: 0;
    border: 1px solid #fff; /* Borda branca */
}

.avatar.usuario{
    text-align: center;
}

.online {
    background-color: #3cba54; /* Cor verde para status online */
}

.user-info{
    display: flex;
    align-items: center;
}

.logout-btn{
    display: flex;
    background-color: #512da8;
    color: #fff;
    font-size: 12px;
    padding: 5px 15px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    cursor: pointer;
    position: relative;
    margin-left: 5px;
}

button:hover{
    background-color: #fff;
    color: #512da8;
}

.tweet-container {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    padding: 20px;
    display: flex;
    flex-direction: column; /* Mudança para layout de coluna */
    align-items: center;
    margin: 0 auto; /* Centraliza horizontalmente */
}

.tweet-textarea {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
    resize: none;
}

.post-button {
    background-color: #512da8;
    color: #fff;
    margin-top: 10px;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

