<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="/style.css">
    <title>DEVIBE | conecte-se</title>
</head>

<body>

<div class="container" id="container">
    <div class="form-container sign-up">
        <form method="post" th:action="@{/registrar}" th:object="${Conta}">
            <h1>Crie sua Conta</h1>
            <div class="social-icons">
                <a href="#" class="icon"><i class="fa-brands fa-google-plus-g"></i></a>
                <a href="#" class="icon"><i class="fa-brands fa-facebook-f"></i></a>
                <a href="#" class="icon"><i class="fa-brands fa-github"></i></a>
                <a href="#" class="icon"><i class="fa-brands fa-linkedin-in"></i></a>
            </div>
            <span>Ou use um nome de Usuario para Registrar</span>
            <input type="text" name="usuario" placeholder="Nome de usuario">
            <input type="password" name="senha" placeholder="Senha">
            <button>Registrar</button>
        </form>
    </div>
    <div class="form-container sign-in">
        <form method="post" th:action="@{/logar}" th:object="${Conta}">
            <h1>Entrar</h1>
            <div class="social-icons">
                <a href="#" class="icon"><i class="fa-brands fa-google-plus-g"></i></a>
                <a href="#" class="icon"><i class="fa-brands fa-facebook-f"></i></a>
                <a href="#" class="icon"><i class="fa-brands fa-github"></i></a>
                <a href="#" class="icon"><i class="fa-brands fa-linkedin-in"></i></a>
            </div>
            <span>Ou use seu Nome de Usuario e Senha</span>
            <input type="text" name="usuario" placeholder="Nome de usuario">
            <input type="password" name="senha" placeholder="senha">
            <button class="botaoDeEntrar" onclick="redirectToAnotherPage()">Entrar</button>

        </form>
    </div>
    <div class="toggle-container">
        <div class="toggle">
            <div class="toggle-panel toggle-left">
                <h1>Bem-vindo de Volta!</h1>
                <p>Insira seus dados pessoais para entrar na sua conta</p>
                <button class="hidden" id="login">Entrar</button>
            </div>
            <div class="toggle-panel toggle-right">
                <h1>D E V I B E</h1>
                <p>Registre-se com seus dados pessoais e divirta-se</p>
                <button class="hidden" id="register">Registrar</button>
            </div>
        </div>
    </div>
</div>

<script src="/script.js"></script>

</body>

</html>
