<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>DEVIBE | conecte-se</title>
</head>

<body>

<div class="container" id="container">
    <div class="form-container sign-up">
        <form method="post" th:action="@{/registrar}" th:object="${conta}">
            <h1>Crie sua Conta</h1>
            <br>
            <span>Ou use um nome de Usuario para Registrar</span>
            <label>
                <input type="text" th:field="*{usuario}" name="usuario" placeholder="Nome de usuario" required>
            </label>
            <label>
                <input type="password" th:field="*{usuario}" name="senha" placeholder="Senha" required>
            </label>
            <br>
            <div th:if="${usuarioExistente != null}" th:text="${usuarioExistente}"></div>
            <br>
            <button type="submit">Registrar</button>
        </form>
    </div>
    <div class="form-container sign-in">
        <form method="post" th:action="@{/logar}" th:object="${conta}">
            <h1>Entrar</h1>
            <br>
            <span>Ou use seu Nome de Usuario e Senha</span>
            <label>
                <input type="text" th:field="*{usuario}" name="usuario" placeholder="Nome de usuario">
            </label>
            <label>
                <input type="password" th:field="*{usuario}" name="senha" placeholder="Senha">
            </label>
            <br>
            <div th:if="${error != null}" th:text="${error}" id="wrongCredentials"></div>
            <br>
            <button type="submit" class="botaoDeEntrar" onclick="redirectToAnotherPage()">Entrar</button>

        </form>
    </div>
    <div class="toggle-container">
        <div class="toggle">
            <div class="toggle-panel toggle-left">
                <h1>Bem-vindo de Volta!</h1>
                <p>Insira seus dados pessoais para entrar na sua conta</p>
                <button class="hidden" id="login">Entrar</button>
            </div>
            <div class="toggle-panel toggle-right">
                <h1>D E V I B E</h1>
                <p>Registre-se com seus dados pessoais e divirta-se</p>
                <button class="hidden" id="register">Registrar</button>
            </div>
        </div>
    </div>
</div>

<script src="/js/script.js" defer></script>

</body>

</html>
