<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nova Postagem</title>
    <link rel="stylesheet" href="/css/stylenewposts.css">
    <script src="/js/script.js" defer></script>
</head>
<body>

<header>
    <div class="back-button" onclick="redirectToFeed()">&#9664;</div>
    <div class="logo">
        <img src="DevibeLogo.png" alt="Logo">
    </div>
    <div class="avatar usuario">
        <div class="status-dot online"></div>
        <div class="user-info">
            <span>Nome do Usuário</span>
            <div class="logout-btn" onclick="logout()">Sair</div>
        </div>
    </div>
</header>

<div class="tweet-container">
    <form th:action="@{/newpost}" th:object="${postagem}" method="post" onsubmit="return post()">
        <label class="textarea-config">
            <textarea rows="4" class="tweet-textarea" th:field="*{conteudo}" name="conteudo" placeholder="O que está acontecendo?"></textarea>
        </label>
        <button class="post-button" type="submit">Enviar</button>
    </form>
</div>


<script>
    function post() {
        var content = document.getElementById("post-content").value;

        if (content.trim() !== "") {
            var postElement = document.createElement("div");
            postElement.className = "post";
            postElement.innerHTML = "<p>" + content + "</p>";

            document.getElementById("timeline").appendChild(postElement);

            document.getElementById("post-content").value = "";
        }
    }
</script>

</body>
</html>