<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="/css/styleposts.css">
    <script src="/js/script.js" defer></script>
    <title>DEVIBE | FEED</title>
</head>

<body>

<header class="header">
    <div class="logo"><img src="/css/logoDEVIBE.png" alt="Imagem do Usuário"></div>
    <div class="user-info">
        <div class="avatar">
            <div class="status-dot online"></div>
            <span class="usuario">usuario desconhecido</span>
        </div>
        <button class="logout-btn">Logout</button>
    </div>
</header>

<main class="feed">
    <h1>Central de postagens</h1>
    <ul>
        <li th:each="post : ${postagens}">
            <h2 th:text="${post.user}"></h2>
            <p th:text="${post.conteudo}"></p>
        </li>
    </ul>
</main>