<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="/css/styleposts.css">
    <script src="/js/script.js" defer></script>
    <title>DEVIBE | USERS </title>
</head>

<body>

<header>
    <button class="back-button" onclick="redirectToFeed()">&#9664;</button>
    <div class="logo">
        <img src="DevibeLogo.png" alt="Logo">
    </div>
    <div class="avatar usuario">
        <div class="status-dot online"></div>
        <div class="user-info">
            <span>Nome do Usuário</span>
            <div class = "logout-btn" onclick="logout()">Sair</div>
        </div>
    </div>
</header>

    <main class="feed">
        <h1>Central de postagens</h1>
        <ul class="item">
            <li class="post" th:each="p : ${postagens}">
                <div class="post-header">
                    <span th:text="${p.user.usuario}"></span>
                    <span th:text="${p.getFormattedDate()}"></span>
                </div>
                <span th:text="${p.conteudo}"></span>
            </li>
        </ul>
    </main>
</div>

</body>
</html>